Q1. Write a program to print first 10 even numbers.

In [ ]:
for i in range(2,21,2):

  # 0 is a composite number so not considered even
  print(i)

2
4
6
8
10
12
14
16
18
20

Q2. Write a program to print first 10 odd numbers.

In [ ]:
for i in range(3,22,2):
  print(i)

3
5
7
9
11
13
15
17
19
21

Q3. Write a program to print first 10 even numbers in reverse order.

In [ ]:
for i in range(20,1,-2):
  print(i)

20
18
16
14
12
10
8
6
4
2

Q4. Write a program to find the factorial of a number.

In [ ]:
num = int(input("Enter a number: "))
factorial = 1
if num < 0:
   print(" Factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 5
The factorial of 5 is 120

Q5. Write a program to check whether a number is prime or not.

In [ ]:
# Number to be checked for prime

n = 5

# Check if the number is greater than 1

if n > 1:
	for i in range(2, int(n/2)+1):
		if (n % i) == 0:
			print(num, "is not a prime number")
		break
	else:
		print(n, "is a prime number")
# If the number is less than 1, its also not a prime number.
else:
	print(n, "is not a prime number")


Q6. Write a program to print numbers from 1 to 20 except multiple of 2 & 3.

In [ ]:
for i in range(1,20):
  if i%2 != 0 and i%3!=0:
    print(i)

#for i in range()

1
5
7
11
13
17
19

Q7. Write a program to accept 10 numbers from the user and display itâ€™s average.

In [ ]:
Sum = 0

print("Please Enter 10 Numbers\n")
for i in range(1, 11):
    num = int(input("Number %d = " %i))
    Sum = Sum + num

avg = Sum / 10

print("The Sum of 10 Numbers     = ", Sum)
print("The Average of 10 Numbers = ", avg)

Please Enter 10 Numbers

Number 1 = 5
Number 2 = 6
Number 3 = 4
Number 4 = 3
Number 5 = 7
Number 6 = 45
Number 7 = 34
Number 8 = 21
Number 9 = 87
Number 10 = 5
The Sum of 10 Numbers     =  217
The Average of 10 Numbers =  21.7

Q8. Write a program to accept 10 numbers from the user and display the largest & smallest number number.

In [ ]:
l=[]
for i in range(0,10):
  number=int(input("enter 10 numbers : "))
  l.append(number)
print(l)
l.sort()

print("smallest number is", l[0])
print("largest number is", l[-1])







Q9. Write a program to print only odd numbers from the given list using for loop. L = [23, 45, 32, 25, 46, 33, 71, 90]

In [ ]:
L = [123, 45, 32, 25, 46, 33, 71, 90]
# iteration
for num in L:
   # check
   if num % 2 != 0:
      print(num, end = " ")

123 45 25 33 71

Q10. Write a program to print the following pattern

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
for i in range(1, 5+1):

   for j in range(i):

       print(i, end=" ")

   print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
for i in range(1,6):
  for j in range(5,i,-1):
    print(" ",end="") # printing spaces
  for k in range(1,2*i):
    print("*",end="")
  print()

    *
   ***
  *****
 *******
*********

WAP first 10 natural numbers

In [ ]:
for i in range(1,11):
  print(i)

WaP to print first even 10 numbers in reverse order

In [ ]:
a=20

while a>=2:

   print(a)

   a=a-2

20
18
16
14
12
10
8
6
4
2

WAP to display product of the digits of a number accepted from the user

In [ ]:
num=int(input("enter any number"))
p=1
while(num):
  r=num%10
  p=p*r
  num=num//10
print("product of digits is", p)

WAP print TYB-COM 5 times using loops

In [ ]:
for i in range(0,5):
  print('TYB-COM')

TYB-COM
TYB-COM
TYB-COM
TYB-COM
TYB-COM

WAP print number from 100 to 1.Print 10 nos. on each line.

In [ ]:
for i in range(1,11):
  print(i,end=" ")

print('\n')


for i in range(11,21):
  print(i,end=' ')

print('\n')


for i in range(21,31):
  print(i,end=' ')

print('\n')

for i in range(31,41):
  print(i,end=' ')

print('\n')


for i in range(41,51):
  print(i,end=' ')

print('\n')


for i in range(51,61):
  print(i,end=' ')

print('\n')


for i in range(61,71):
  print(i,end=' ')

print('\n')


for i in range(71,81):
  print(i,end=' ')


print('\n')


for i in range(81,91):
  print(i,end=' ')

print('\n')


for i in range(91,101):
  print(i,end=' ')

print('\n')

1 2 3 4 5 6 7 8 9 10

11 12 13 14 15 16 17 18 19 20

21 22 23 24 25 26 27 28 29 30

31 32 33 34 35 36 37 38 39 40

41 42 43 44 45 46 47 48 49 50

51 52 53 54 55 56 57 58 59 60

61 62 63 64 65 66 67 68 69 70

71 72 73 74 75 76 77 78 79 80

81 82 83 84 85 86 87 88 89 90

91 92 93 94 95 96 97 98 99 100

WAP to find and print sum and product of first 5 natural number

In [ ]:
# Sum of natural numbers up to num

num = 5

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

The sum is 15






WAP to find and print the factorial of a 4

In [ ]:
num = 4


# To take input from the user
#num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 4 is 24

WAP to  print sum of all even nos. from 10 to 100

In [ ]:

maximum = int(input(" Please Enter the Maximum Value : "))
total = 10

for number in range(1, maximum+1):
    if(number % 2 == 0):
        print("{0}".format(number))
        total = total + number

print("The Sum of Even Numbers from 1 to {0} = {1}".format(number, total))

 Please Enter the Maximum Value : 78
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
The Sum of Even Numbers from 1 to 78 = 1570