In [ ]:
print("student's marksheet")
name=input("enter name\n")
roll_no=input("enter roll number\n")
print("total marks for 5 subjects is 500")
subject1_marks=int(input("enter the subject marks for 1 subject: "))
subject2_marks=int(input("enter the subject marks for 2 subject: "))
subject3_marks=int(input("enter the subject marks for 3 subject: "))
subject4_marks=int(input("enter the subject marks for 4 subject: "))
subject5_marks=int(input("enter the subject marks for 5 subject: "))
gained_marks=subject1_marks+subject2_marks+subject3_marks+subject4_marks+subject5_marks
percentage=(gained_marks/500)*100
print("percentage of student",percentage)

student's marksheet

In [ ]:
p=input("enter any string: ")
list(p)

In [ ]:
a = [1,2,3,4,5]
print(a[0])
print(a[-1])
print(a[2])
print(a[-2])
print(a[1])

In [ ]:
[1,2,3,4] == [4,3,2,1]

In [ ]:
[1,2,3,4] >  [4]

In [ ]:
[1,2,3,4] != [1,2,3,4]

In [ ]:
[1,2,3,4] == [1,2,[3,4]]

In [ ]:
[1,2,3] == [1.0,2.0,3.0]

In [ ]:
a = [1,2,3,4]
b = [5,6,7,8,]
a+b

In [ ]:
b = "Practice Questions of List in Python"
a=list(b)
print(a)
print(len(a))
print(a[1:4])
print(a[1:7])
print(a[3:])
print(a[:5])
print(a[4:17])
print(a[-2:-5:-1])
print(a[1:7:1])
print(a[1:7:2])
print(a[-5:])
print(a[:4])
print(a[-2:-5:-2])
print(a[11:15])
print(a[:])
print(a[::2])
print(a[-5:-1])
print(a[7:1:-1])
print(a[3:-3])
print(a[30:40])
print(a[17:-1])
print(a[10::-1])

In [ ]:
T1 = (1, 2, 3, 4, 5, 6, 7, 8)
print(T1)
print(T1 * 2)
print(T1 + T1)
print(len(T1) * 2)

In [ ]:
T1 = (1, 2, 3, 4, 5, 6, 7, 8)
print(T1[0])
print(T1[-1])
print(T1[2 + 3])
print(T1[4 - 1])
print(T1[7%2])

In [ ]:
T1 = (23, 32, 4, 5, 2, 12, 23, 7, 9, 10, 23)
print(len(T1) + T1[-1])
print(T1[T1.count(23) + len(T1) -5])
print(T1.count(T1[6]))
print(T1.count(max(T1)))

In [ ]:
T1 = ('Hockey', 'Cricket', 'Football')
print(max(T1))
print(min(T1))

In [ ]:
T1 = ('Raman', 'Ram', 'Ramaiya')
print(max(T1))
print(min(T1))

In [ ]:
T1 = (23, 32, 4, 5, 2, 12, 23, 7, 9, 10, 23)
print(sorted(T1))
print(sorted(T1[2 : 7]))


print(T1.index(23))
print(T1.index(23, 3, 9))

In [ ]:
T1 = (23, 32, 4, 5, 2, 12, 23, 7, 9, 10, 23)
print(sum(max(T1) + min(T1)))

In [ ]:
a = (“Seventy”, [1, 2, 3], (20, 30, 40), “Eighty”)


p=10
q=20
p=p*q//4
q=p+q**3
print(p,q)

In [ ]:
x=2
y=6
x=x+y/2 + y//4
print(x)

In [ ]:
T = [1,2,3,4]
T1 = [3,4,5,6]
T2 = T.append(T1)
print(T2)

In [ ]:
t1 = (1,2,4,3)
t2 = (1,2,3,4)
t1 < t2

In [ ]:
L1 = [1,2,3,4]
L2 = L1
L3 = L1.copy()
L4 = L3
L1[0] = [5]
print(L1, L2, L3, L4)

In [ ]:
L1 = []
L1.append([1, [2, 3], 4])
L1.extend([7, 8, 9])
print(L1) [
print(L1[0][1][1] + L1[2])

In [ ]:
t1 = (1, 23, 4, 5, 'A', ['C', 'D'], (23, 45), 45)
print(len(t1))
print(t1.index(45))
print(t1.count(45))
print(t1[5][0]*2)
print(t1[:5])
print(t1[5:])
print(t1.index('A'))
print(t1[-1:-7:-2])
print(t1[4] + t1[5])
print(max(t1))

In [ ]:
t1 = (1,2,3,4,5,6,7,8)
print(t1[0])
print(t1[-1])
print(t1[2+3])
print(t1[4-1])
print(t1[7%2])

In [ ]:
print("abc.DEF".capitalize())

In [ ]:
2**(3**2) >> (2**3)**2 >> 2**3**2

In [ ]:
print(True**False/True)

In [ ]:
all([2,4,0,6])

In [ ]:
a=[4,5,67,7]
print(a)
i=1
while(i<len(a)):
  print(a[i])
  i+=2

brute force method

In [ ]:
min(2,3)

pair method

In [ ]:
arr=[4,5,67,7]
b=len(arr)
index=0

if b%2==0:
  Mini=min(arr[0],arr[1])
  Maxi=max(arr[0],arr[1])
  index=2
else:
  Mini=arr[0]
  Maxi=arr[0]
  index=1

while(index<b):
  if arr[index] < arr[index+ 1]:
    Maxi = max(Maxi, arr[index + 1])
    Mini = min(Mini, arr[index])
  else:
    Maxi = max(Maxi, arr[index])
    Mini = min(Mini, arr[index + 1])

  index+=2

print(Mini,Maxi)

4 67

tournament method